.pos-container{
    position: relative;
    margin-left: 1450px;
}
.vadim {
    border: 20px #b02a0b;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 150px;
}
body {
  background-image: url('photo/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 120vh;
}

img {
  max-width: 100%;
  height: auto;
}
img:hover {
  opacity: 1;
  filter: none;
  transform: scale(1.05);
  transition: all 0.3s;
}
h1 {
    text-align: center;
    font-family: Times New Roman;
    color: rgb(139, 0, 0);
    font-size: 50px;
}
.text{
    position: relative;
    margin-top: -500px;
    color: rgb(110, 0, 0);
    font-size: 40px;
    max-width: 235px;
    padding: 0 20px; 
}
.text1{
    position: relative;
    color: rgb(110, 0, 0);
    font-size: 25px;
    max-width: 235px;
    padding: 0 20px; 
}

.square {
  width: 300px;
  height: 400px;
  background-color: #e08608;
  color: rgb(0, 0, 0);
  border-radius: 10px;        /* небольшие скругления (можно убрать) */
  transition: transform 0.3s ease;
  position: relative;
  margin-left: 220px;
  margin-top: 135px;
}

.square:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.square1 {
  width: 300px;
  height: 400px;
  background-color: #e04c08;
  color: rgb(52, 49, 49);
  display: flex;              /* для лёгкого центрирования текста */
  align-items: center;
  justify-content: center;
  border-radius: 10px;        /* небольшие скругления (можно убрать) */
  transition: transform 0.3s ease;
  position: relative;
  margin-left: 620px;
  margin-top: -400px;
}

.square1:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.square2 {
  width: 300px;
  height: 400px;
  background-color: #e00808;
  color: rgb(255, 255, 255);
  display: flex;              /* для лёгкого центрирования текста */
  align-items: center;
  justify-content: center;
  border-radius: 10px;        /* небольшие скругления (можно убрать) */
  transition: transform 0.3s ease;
  position: relative;
  margin-left: 1020px;
  margin-top: -400px;
}

.square2:hover {
  transform: scale(1.05);
  transition: all 0.3s;

}


